<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="magni_system" params="name use_fake_hardware:=^|false fake_sensor_commands:=^|false slowdown:=2.0">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>ubiquity_motor/UbiquityMotorSystemHardware</plugin>
          <param name="serial_port">/dev/ttyUSB0</param>
          <!-- <param name="serial_port">/dev/ttyUSB1</param> -->
          <!-- <param name="serial_port">/dev/ttyUSB2</param> -->
          <param name="baud_rate">38400</param>
          <param name="left_wheel_joint_name">left_wheel_joint</param>
          <param name="right_wheel_joint_name">right_wheel_joint</param>
        </xacro:unless>
      </hardware>
      <joint name="left_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <gpio name="magni_IOs">
        <state_interface name="battery_voltage"/>
      </gpio> 
     

    </ros2_control>

  </xacro:macro>

</robot>